body{
    font-family: 'Montserrat','arial';
    line-height: 125%;
    background: #F8FCFF;
    
    color: #25282B;
}
.container{
    max-width: 1230px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
/* ---------------------------------- */
.nav{
    margin:  42px 0px 42px ;
    display: flex;
    justify-content: space-between;
}
.nav__img{
    margin-right: 80px;
}
.nav__menu,.nav__social{
    display: flex;
    gap: 30px;
    align-items: center;
}
/* ---------------------------------- */
.wrapper{

    height: 582px;
    position: relative;
    left: 0;
    top: 0;
}
.wrapper::after{
    content: "";
    display: block;
    background-color:rgba(16, 46, 73, 0.80);
    height: 100%;
    width: 100%;
    position: absolute;
    
    top: 0;
    z-index:-1;

}
.video{
    
    position: relative;
    left: 0px;
    top: 0;
}
.video__hero{
    
    min-height: 100%;
    max-width: 100%;
    width: 100%;
    height:  582px;
    position: absolute;
    object-fit: cover;

    top: 0;
    z-index: -1;
}
absolute{
    min-height: 100%;
    max-width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 12;
}
.title{
    display: flex;
    justify-content:center;
    color: #F8FCFF;
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    padding-top: 120px;
}
.subtitle{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #F8FCFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 15px;
    
}
.subtitle__img{
    margin-top: 6px;
    margin-right: 18px;
}
.wrapper-button{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 288px;
    padding: 18px 30px;
    border-radius: 100px;
    background: #D0DCE7;
    transition: 0.5s;
}
.button__text{
    color: #1D6FB6;
    font-weight: 500;
    transition: .5s;
}
.button:hover{
    background: #83ADD3;
}
.button:hover .button__text{
    color: #F8FCFF;
}
.container-main{
    position: relative;
    margin-top: 120px;
}

.wrapper-shop{
    width: 286px;
    height: 1170px;
    border: 2px solid  #D0DCE7;
    position: absolute;
    left: 0;
    top: 0;
    
}
.list-col{
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 108px 840px 30px;
}

/* дальше  идет разроботка это не конечный результат */
.wrapper-grid{
    position: relative;
    left: 642px;
    top: 0;
    width: 792px;
    height: 792px;
}
.grid{
    display: grid;
    grid-template-columns: 384px 180px 384px;
}


