body{
    font-family: 'Montserrat','arial';
    line-height: 125%;
    background: #F8FCFF;
    /* background-color: #1D6FB6; */
    color: #25282B;
}
.container{
    max-width: 1230px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
/* =================================================== */
.nav{
    margin:  42px 0px 42px ;
    display: flex;
    justify-content: space-between;
}
.nav__img{
    margin-right: 80px;
}
.nav__menu,.nav__social{
    display: flex;
    gap: 30px;
    align-items: center;
}
/* -------------------------------------------------- */
.wrapper{
    height: 582px;
    position: relative;
    left: 0;
    top: 0;
}
.wrapper::after{
    content: "";
    display: block;
    background-color:rgba(16, 46, 73, 0.80);
    height: 100%;
    width: 100%;
    position: absolute;
    
    top: 0;
    z-index:-1;
}
.video{
    
    position: relative;
    left: 0px;
    top: 0;
}
.video__hero{
    
    min-height: 100%;
    max-width: 100%;
    width: 100%;
    height:  582px;
    position: absolute;
    object-fit: cover;

    top: 0;
    z-index: -1;
}
absolute{
    min-height: 100%;
    max-width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 12;
}
.title{
    display: flex;
    justify-content:center;
    color: #F8FCFF;
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    padding-top: 120px;
}
.subtitle{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #F8FCFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 15px;
    
}
.subtitle__img{
    margin-top: 6px;
    margin-right: 18px;
}
.wrapper-button{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 288px;
    padding: 18px 30px;
    border-radius: 100px;
    background: #D0DCE7;
    transition: 0.5s;
}
.button__text{
    color: #1D6FB6;
    font-weight: 500;
    transition: .5s;
}
.button:hover{
    background: #83ADD3;
}
.button:hover .button__text{
    color: #F8FCFF;
}
.container-main{
    position: relative;
    margin-top: 120px;
}
/* ------------------------------------------------- */
.wrapper-shop{
    width: 286px;
    height: 1170px;
    border: 2px solid  #D0DCE7;
    position: absolute;
    left: 15px;
    top: 0;
    
}
.list-col{
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 108px 840px 30px;
}

/*------------------------------------------------*/
.wrapper-main{
    position: relative;
    left: 409px;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    Justify-content: space-between;
    width: 792px;
    height: 2022px;
}
.grid-galley{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow:row;
    gap: 24px;
}
.grid-inner{
    width: 100%;
    height: 100%;
}
.grid-inner__img{
    width: auto;
}
.grid-inner--1{
    grid-column: 1/3;
    grid-row:1/3 ;
}
.grid-inner--2{
    grid-column: 3/5;
    grid-row:3/5;
}

.grid-inner{
    position: relative;
    overflow: hidden;
}
.grid-inner__prompt{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 53px;
    background: #1d6fb6b3;
    color:#F8FCFF;
    text-align: center;
    
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
    transition: 1s;
    
}
.grid-inner:hover .grid-inner__prompt{
    transform: translateY(0%);
}
.grid-inner__prompt-big{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 103px;
    background: #1d6fb6b3;
    color:#F8FCFF;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
    transition: 1s;
}
.grid-inner:hover .grid-inner__prompt-big{
    transform: translateY(0%);
}
/* -------------------------------------------------- */
.grid-watch{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow:row;
    gap: 24px;
}
.bloc-product{
    display: flex;
    width: 384px;
    height: 354px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border: 1px solid #D0DCE7;    
}
.bloc-product__wrapper{
    position: relative;
}
.bloc-product__aside{
    position: absolute;
    left: 0px;
    top: 30px;
    display: flex;
    width: 130px;
    padding: 18px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 0px 100px 100px 0px;
    background: #F8FCFF;
    animation:aside 1.5s infinite ;
    transition-timing-function: ease-out;
}
@keyframes aside{
    0%{
        width: 130px;
    }
    100%{
        width: 148px;
    }
}
.bloc-product__text{
    color: #1D6FB6;
    font-weight: 500;
}
/* ================================================================= */
.container-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    background: #788088;
    margin-top: 120px;
    gap: 10px;
}
.container-footer__text{
    color: #F8FCFF;
    font-weight: 400;
}